$primary: #1d1b22;
$secondary: #474058;
$text: #dcd3f4;
$alert: #f43f59;

:root {
	font-family: 'Inter', sans-serif;
	background-color: $primary;
	color: $text;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}
